<.header>
  <p class="text-sky-800">New Topic</p>
  <p class="text-sm text-blue-500">Use this form to manage topics records in your database.</p>
</.header>

<.topic_form changeset={@changeset} action={~p"/topics"} />

<.back navigate={~p"/"}>Back to topics</.back>
