<.flash_group flash={@flash} />
<div class="absolute top-20 text-slate-800">
  <h1>Welcome to the Discuss app!</h1>
  <a href="/topics" title="View all topics" class="underline hover:no-underline transition">View all topics</a>
</div>